<div class="container mt-4">
  <h2>プライバシーポリシー</h2>
  
  <div class="mt-5">
    <h3>アクセス解析ツールについて</h3>
    <p class="fs-5">当サービスでは、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。<br>
      このGoogleアナリティクスはトラフィックデータの収集のためにクッキー（Cookie）を使用しております。<br>
      トラフィックデータは匿名で収集されており、個人を特定するものではありません。</p>
  </div>

  <div class="mt-5">
    <h3>免責事項</h3>

    <p class="fs-5">当サービスからのリンクやバナーなどで移動したサイトで提供される情報、サービス等について一切の責任を負いません。<br>
  
    また当サービスのコンテンツ・情報について、できる限り正確な情報を提供するように努めておりますが、正確性や安全性を保証するものではありません。情報が古くなっていることもございます。<br>
  
    当サイトに掲載された内容によって生じた損害等の一切の責任を負いかねますのでご了承ください。</p>
  </div>

  <div class="mt-5 mb-4">
    <h3>著作権について</h3>
    <p class="fs-5">当サービスで使用されている画像の著作権はライアットゲームズに帰属し、ライアットゲームズの知的財産の利用にあたってのガイドラインの定める範囲内で使用されています。<br>

      当サービスは著作権や肖像権の侵害を目的としたものではありません。著作権や肖像権に関して問題がございましたら、お問い合わせフォームよりご連絡ください。迅速に対応いたします。<br>

      当サービスは、ライアットゲームズが公式承認するものではなく、ライアットゲームズ又はリーグ・オブ・レジェンドの製作・管理に正式に関与したいかなる者の見解・意見に基づくものではありません。リーグ・オブ・レジェンド及びライアットゲームズは、Riot Games, Inc.の商標又は登録商標です。リーグ・オブ・レジェンド © Riot Games, Inc.</p>
  </div>

  <%= link_to "戻る", :back, class: "d-block text-center fs-5" %>

</div>