/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
@import "bootstrap";
@import "font-awesome";

/*universal layouts*/
a{
    text-decoration: none;
    color: #212529;
}

.post-content{
    white-space: pre-wrap;
}

textarea{
    vertical-align: top;
}

.container{
    max-width: 80%;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

/*top.html.erb*/
body{
    background-color: #ece8e1;
}

#navbarNav{
    justify-content: flex-end;
}
.radio_btn{
    display: none;
}
.radio_btn + label img {
    opacity: 0.8;
}
.radio_btn:checked + label img{
    opacity: 1;
    border: solid rgb(212, 177, 22) 2px;
    border-radius: 3%;
}
.radio_btn:hover + label img{
    opacity: 1;
}
.radio_btn{
    margin: 5px;
}
.mt30{
    margin-top: 30px;
}
.icon-container img{
    margin: 3px;
}

/* モーダル用マウスポインタ */
.zoom:hover{
    cursor: zoom-in;
}

.post{
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: #212529 solid 1px;
}

// _post.html.erb



/* pagination */

.pagination{
     justify-content: center;   
 }
/*ページネーション自体のデザイン*/
.pagination>li>a {          
    border: #696969;
    color: #696969;   /*文字の色を変える*/
    background: white;
    
  }
  
  /* 表示しているページ番号のデザイン */
  .pagination>.active>a {     
   
    border-radius: 5px;     /*角を丸くする*/
  }
  
  /*ホバー時のデザイン*/
  .pagination>li>a:hover {        
    border-radius: 5px;    /*角を丸くする*/
  }

  .page-item.active .page-link {
     background-color: #ff4655;   
    }

.button_to{
    display: inline;
}

.button_to button{
    border: none;
}